.App {
  height: 100%;
  text-align: center;
  background-color: #333333;
}

body {
  background-color: #333333;
}

.headerContainer {
  text-align: center;
  color: white;
  padding: 10vh 0;
}

.header {
  font-family: "Pacifico";
  font-size: 70px;
}

.caption {
  font-family: "Lato";
  letter-spacing: 0.05em;
}

hr {
  width: 75%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.727);
}
